<nav class="sidenavbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
    <ul class="navbar-nav d-flex flex-column w-100 ">
      <li class="nav-item w-100 d-flex flex-row align-items-center active my-1 " id="homeTab">
        <img src="/images/Folder.png" alt="" class="img-fluid mx-2 ">
        <a href="/<%= accountType %>/home" class="nav-link sidenav-link active">Trang chủ</a>
      </li>
      <li class="nav-item w-100 d-flex flex-row align-items-center my-1" id="adsplacementTab">
        <img src="/images/signboard.png" alt="" class="img-fluid mx-2">
        <a href="/<%= accountType %>/list-adsplacements" class="nav-link sidenav-link ">Danh sách điểm đặt quảng cáo</a>
      </li>
      <li class="nav-item w-100 d-flex flex-row align-items-center my-1">
        <img src="/images/acceptReports.png" alt="" class="img-fluid mx-2">
        <a href="/<%= accountType %>/list-boards/<%= selectedId %>" class="nav-link sidenav-link  <% if (selectedId == -1) { %> disabled <% } %> "> Danh sách bảng quảng cáo</a>
      </li>
      <li class="nav-item w-100 d-flex flex-row align-items-center my-1">
        <img src="/images/acceptReports.png" alt="" class="img-fluid mx-2">
        <a href="/<%= accountType %>/my-requests" class="nav-link sidenav-link ">Yêu cầu của tôi</a>
      </li>
      <li class="nav-item w-100 d-flex flex-row align-items-center my-1">
        <img src="/images/report.png" alt="" class="img-fluid mx-2">
        <a href="/<%= accountType %>/list-reports" class="nav-link sidenav-link ">Xử lý báo cáo</a>
      </li>
    </ul>
</nav>