<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title><%= role %> | <%= tab %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/5990078b0a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/So/style.css">
    <link rel="stylesheet" href="/css/So/table.css">
    <link rel="stylesheet" href="/css/toggleNavigation.css">
  </head>

  <body>
  <%- include("../partials/header.ejs") %>
  <!-- Navbar content -->
  <%- include("./subPartials/navbar.ejs") %> 
  <!-- Main content -->
  <main class="dynamic-container">
    <div class="container-fluid w-30">
      <form action="">
        <div class="row align-items-center gx-1">
          <div class="col-2">
            <div class="input-group input-group-sm">
              <span class="input-group-text" id="inputGroup-sizing-sm"
                >Phường xử lý</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-primary btn-sm">Lọc</button>
          </div>
        </div>
      </form>
    </div>
    <div class="container-fluid pt-4 pe-4 text-center ">
        <div class="row justify-content-center table-responsive">
            <div class="container row bg-secondary text-white ">
                <div class="col text-center">
                    <p class="fs-2 text-center py-2 m-0">
                        Báo cáo của người dân chưa xử lý
                    </p> 
            </div>
            </div>
            <table class="table table-striped">
                <thead>
                
                  <tr>
                    <th scope="col">Thời gian gửi</th>
                    <th scope="col">Tên người gửi</th>
                    <th scope="col">Địa điểm</th>
                    <th scope="col">Loại hình báo cáo</th>
                    <th scope="col">Chức năng</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>16/10/2023</td>
                    <td>Nguyễn Khánh Hoàng</td>
                    <td>Hồ Chí Minh</td>
                    <td>Báo cáo vi phạm</td>
                    <td>
                        <a href="./xl-bao-cao.html">
                          <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
        <!-- Table pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
        
    </div>
  </main> 
  <!-- Footer -->
  <%- include("../partials/footer.ejs") %>

  <!-- Modals -->
  </body>


  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"
  ></script>
  <script src="/javascript/toggleNavigation.js"></script>

</html>
