<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>Sở | Quản lý tài khoản</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- Font awesome -->
    <script
      src="https://kit.fontawesome.com/5990078b0a.js"
      crossorigin="anonymous"
    ></script>

    <!--Css link -->
    <link rel="stylesheet" href="/css/So/style.css" />
    <link rel="stylesheet" href="/css/So/table.css" />
    <link rel="stylesheet" href="/css/toggleNavigation.css" />
    <link rel="stylesheet" href="/css/So/alert.css" />
    <link rel="stylesheet" href="/css/So/customDropbox.css" />
    <link rel="stylesheet" href="/css/So/passwordStrengthIndicator.css" />
  </head>

  <body>
    <%- include("../partials/header.ejs") %>
    <!-- Navbar content -->
    <%- include("./subPartials/navbar.ejs") %>
    <!-- Main content -->
    <main class="dynamic-container container-fluid">
      <% if (message) { if (message.includes("thành công")) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= message %>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } else {%>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= message %>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% }} %>
      <div class="row w-sm-50 w-75 mt-4 justify-content-end">
        <a
          class="btn btn-secondary col-lg-1 col-sm-2 col-2"
          href="<%=serverPath%>department/areaManagement"
        >
          All
        </a>
        <div class="col-lg-2 col-sm-4 col-4">
          <div class="dropdown">
            <button
              class="btn btn-outline-secondary dropdown-toggle w-100 d-flex justify-content-between align-items-center"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <% if (currentDistrict !=='' ) { %> <%= currentDistrict %> <% }
              else { %> Quận <% } %>
            </button>
            <ul class="dropdown-menu">
              <% for (let i=0; i < districts.length; i++){ %>
              <li>
                <a
                  class="dropdown-item"
                  href="<%=serverPath%>department/areaManagement?district=<%=districts[i].district%>"
                >
                  <%= districts[i].district %>
                </a>
              </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>

      <div class="table-container border border-2 rounded-3">
        <div class="table-header">
          <h2>Quản lý khu vực</h2>
          <div class="button-container">
            <button
              class="green-button px-3 py-1 rounded"
              data-bs-toggle="modal"
              data-bs-target="#createModal"
            >
              <i class="fas fa-plus-circle" style="color: #ffffff"></i>
              Thêm khu vực mới
            </button>
          </div>
        </div>
        <table class="table-body table table-striped table-responsive mb-0">
          <thead>
            <tr>
              <th scope="col">Quận</th>
              <th scope="col">Phường</th>
              <th scope="col" style="text-align: center">Chức năng</th>
            </tr>
          </thead>
          <tbody>
            <% if (areas.length>0) { %> <% areas.forEach(area=>{ %>
            <tr>
              <td><%= area.district %></td>
              <td><%= area.ward %></td>
              <td class="function-icons text-center">
                <i
                  class="fas fa-pen"
                  style="color: #f29d38"
                  data-bs-toggle="modal"
                  data-bs-target="#editModal"
                  data-id="<%= area.id %>"
                  data-district="<%= area.district %>"
                  data-ward="<%= area.ward %>"
                  onclick="handleEditButton(event)"
                  data-bs-target="#editModal"
                ></i>
              </td>
            </tr>

            <% }) %> <% } else { %>
            <tr>
              <td colspan="7" class="text-center fs-5">
                Không có bất kì tài khoản nào
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <div
        class="pagination-container d-flex flex-sm-row flex-column justify-content-between align-items-center py-2"
      >
        <p class="pagination-text mb-0">
          Showing <b> <%= currentPage %> </b> Out of
          <b> <%= lastPage %> </b>
        </p>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <% if(hasPreviousPage) { %>
            <li class="page-item">
              <a
                class="page-link text-dark fw-bold border-0"
                href="<%=serverPath%>department/areaManagement/?page=<%= previousPage %>&district=<%= currentDistrict %> "
                >Previous</a
              >
            </li>
            <% if(hasPreviousPreviousPage) { %>
              <li class="page-item">
              <a
                class="page-link text-dark fw-bold border-0"
                href="<%=serverPath%>department/areaManagement/?page=<%= previousPage %>&district=<%= currentDistrict %> "
                ><%= previousPage-1 %></a
              >
            </li>
            <% } %>
            <li class="page-item">
              <a
                class="page-link text-dark fw-bold border-0"
                href="<%=serverPath%>department/areaManagement/?page=<%= previousPage %>&district=<%= currentDistrict %> "
                ><%= previousPage %></a
              >
            </li>
            <% } else { %>
            <li class="page-item disabled">
              <a
                class="page-link text-dark fw-bold border-0"
                href="<%=serverPath%>department/areaManagement/?page=<%= previousPage %>&district=<%= currentDistrict %> "
                >Previous</a
              >
            </li>
            <% } %>
            <li class="page-item">
              <a
                class="page-link text-dark fw-bold border-0 active"
                href="<%=serverPath%>department/areaManagement/?page=<%= currentPage %>&district=<%= currentDistrict %> "
                ><%= currentPage %></a
              >
            </li>
            <% if(hasNextPage) { %>
            <li class="page-item">
              <a
                class="page-link text-dark fw-bold border-0"
                href="<%=serverPath%>department/areaManagement/?page=<%= nextPage %>&district=<%= currentDistrict %> "
                ><%= nextPage %></a
              >
            </li>
            <% if(hasNextNextPage) {%>
              <li class="page-item">
              <a
                class="page-link text-dark fw-bold border-0"
                href="<%=serverPath%>department/areaManagement/?page=<%= nextPage %>&district=<%= currentDistrict %> "
                ><%= nextPage+1 %></a
              >
            </li>
            <% } %>
            <li class="page-item">
              <a
                class="page-link text-dark fw-bold border-0"
                href="<%=serverPath%>department/areaManagement/?page=<%= nextPage %>&district=<%= currentDistrict %> "
                >Next</a
              >
            </li>
            <% } else { %>
            <li class="page-item disabled">
              <a
                class="page-link text-dark fw-bold border-0"
                href="<%=serverPath%>department/areaManagement/?page=<%= nextPage %>&district=<%= currentDistrict %> "
                >Next</a
              >
            </li>
            <% } %>
          </ul>
        </nav>
      </div>

      <!--Create form -->
      <div
        class="modal fade"
        id="createModal"
        tabindex="-1"
        aria-labelledby="createModal"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <div class="container d-flex flex-column align-items-center">
                <h1 class="modal-title fs-5" id="permissionReport-sub">
                  Thêm một địa điểm mới
                </h1>
                <p class="modal-title">Bước 1/1</p>
              </div>
              <div class="align-self-start">
                <button
                  type="button align-self-start"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
            </div>
            <div class="modal-body justify-content-center">
              <form action="<%=serverPath%>department/addArea" method="POST">
                <div class="row">
                  <div class="col">
                    <div class="form-floating mb-3">
                      <input
                        type="text"
                        class="form-control"
                        id="floatingInput"
                        name="district"
                      />
                      <label for="floatingInput">Quận</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-floating mb-3">
                      <input
                        type="text"
                        class="form-control"
                        id="floatingInput"
                        name="ward"
                      />
                      <label for="floatingInput">Phường</label>
                    </div>
                  </div>
                </div>
                <div class="container my-3">
                  <button
                    type="submit "
                    class="btn btn-success container-fluid"
                  >
                    Tạo
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--Edit form -->
      <div
        class="modal fade"
        id="editModal"
        tabindex="-1"
        aria-labelledby="editModal"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <div class="container d-flex flex-column align-items-center">
                <h1 class="modal-title fs-5" id="permissionReport-sub">
                  Chỉnh sửa địa điểm
                </h1>
                <p class="modal-title">Bước 1/1</p>
              </div>
              <div class="align-self-start">
                <button
                  type="button align-self-start"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
            </div>
            <div class="modal-body justify-content-center">
              <form action="<%=serverPath%>department/editArea" method="POST">
                <input type="hidden" name="id" value="" id="edit-id" />
                <input type="hidden" name="path" value="" id="path" />
                <div class="row">
                  <div class="col">
                    <div class="form-floating mb-3" id="edit-district-field">
                      <input
                        type="text"
                        class="form-control"
                        id="floatingInput"
                        name="district"
                        value="abs"
                      />
                      <label for="floatingInput">Quận</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-floating mb-3" id="edit-ward-field">
                      <input
                        type="text"
                        class="form-control"
                        id="floatingInput"
                        name="ward"
                      />
                      <label for="floatingInput">Phường</label>
                    </div>
                  </div>
                </div>
                <div class="container my-3">
                  <button
                    type="submit "
                    class="btn btn-success container-fluid"
                  >
                    Chỉnh sửa
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <%- include("../partials/footer.ejs") %>

    <!-- Javascript -->
    <script
      async
      src="https://cdn.jsdelivr.net/npm/es-module-shims@1/dist/es-module-shims.min.js"
      crossorigin="anonymous"
    ></script>
    <script type="importmap">
      {
        "imports": {
          "@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js",
          "bootstrap": "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.esm.min.js"
        }
      }
    </script>
    <script src="/javascript/So/accountManagement.js"></script>
    <script src="/javascript/So/areaManagement.js"></script>
    <script src="/javascript/So/passwordStrengthIndicator.js"></script>
    <script src="/javascript/toggleNavigation.js"></script>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"
  ></script>
</html>
